*{
    padding: 0;
    margin: 0;
}

#raocancuocdoi {
    width: 700px;
    height: 300px;
    border: 2px solid black;
}

#ĐBH {
    width: 20px;
    height: 40px;
    background-color: blueviolet;
    position: relative;
    top: 150px;

}
.animate{
    animation: jump 500ms infinite ;}

@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}

}
#RC{
    width: 20px;
    height: 20px;
    background-color: brown;
    position: relative;
    top: 130px;
    left: 480px;
    animation: RC infinite linear;
}
@keyframes RC {
    0%{left: 480px;}
    100%{left: -40px;}
}